.header{
    display: flex;
    background-color: white;
    padding: 10px 15%;
    justify-content: space-between;
    height: 35px;
    position: sticky;
    top: 2px;
    margin-bottom: -2px;
    z-index: 99;
}

.header__left{
    display: flex;
    margin-left: -36px;
}

.header__left img{
    height: 100px;
    margin-right: 13px;
    margin-top: -33px;
   
}

.header__search{
    display: flex;
    align-items: right;
    background-color: #e7e0e05c;
    padding: 1px 15px;
    border-radius: 20px;
    margin-left: -20px;
}

.header__search input{
    background-color: transparent;
    border: 0px;
    outline: 0;
    min-width: 220px;
}

.header__search svg{
    font-size: 26px;
    color:#494747;
    margin-top: 5px;
}

.header__right{
    display: flex;
    align-items: center;
}
.header__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
    font-size: 13px;
    color: #636262;
    cursor: pointer;
    position: relative;
}
.header__options:first-child{
    color: black;
}
.header__options:first-child::before{
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    background-color: #333;
    height: 1px;
    bottom: -8px;
}
.header__options .MuiAvatar-circular {
     width: 30px;
     height: 30px;
     object-fit: contain;


}